@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  /*border: 1px red solid;*/
}

body {
  background: #F0F6FC;
  font-family: 'Roboto', sans-serif;
}

.input-container {
  background: #161B22;
  color: #F0F6FC;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 3px;
}
.input-group {
  display: flex;
  margin: 5px 0 10px 0;
  padding: 0 10px;
  border: solid 1px #F0F6FC;
  border-radius: 3px;
  align-items: center;
}
.input-group img {
  height: 40px;
}
.input {
  color: #F0F6FC;
  font-size: 30px;
  height: 50px;
  border: none;
  outline: none;
  background: transparent;
}
svg {
  fill: #F0F6FC;
  /* fill: red; */
}
input:focus svg {
  fill: #58A6FF;
  /* fill: blue; */
}
