@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  /*border: 1px red solid;*/
}

body {
  background: #F0F6FC;
  font-family: 'Roboto';
}

.input-container {
  background: #161B22;
  color: #F0F6FC;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 90%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
  padding: 20px;
  border-radius: 3px;
}
.inp-cont {
  /* display: flex; */
  /* flex-direction: column; */
  /* grid-column: 2 / 4; */
  /* grid-row: 1 / 3; */
}
.input-name-container {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-column: 1/2;
  grid-row: 1 / 2;
  height: 100px;
  /* height: 10%; */
}
.input-mail-container {
  display: flex;
  flex-direction: column;
  grid-column: 1/2;
  grid-row: 2 / 3;
  height: 100px;
}
.input-message-container {
  display: flex;
  flex-direction: column;
  grid-column: 1/2;
  grid-row: 3 / 4;
  height: 45%;
}
.input-group {
  display: flex;
  height: 100%;
  margin: 5px 0 10px 0;
  padding: 0 10px;
  border: solid 1px #F0F6FC;
  border-radius: 3px;
  align-items: center;
  justify-content: space-between;

  /* Animation */
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.input-group:focus-within {
  /* Animation */
  border: 1px solid;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
}
.input-group:focus-within svg {
  fill: #58A6FF;
  transition: all .6s ease;
}
.input-group svg {
  height: 40px;
  width: 40px;
  padding-left: 5px;
}
.input {
  color: #F0F6FC;
  font-size: 25px;
  font-family: 'Roboto';
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  background: none;
}
.input:active {
  background: none;
}
.submit-button {
  grid-column: 1/2;
  grid-row: 4 / 5;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  text-transform: uppercase;
  position: relative;
  width: 100%;
  background: none;
  border: solid 1px #F0F6FC;
  color: #F0F6FC;
  cursor: pointer;
  /* Animation */
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.submit-button:hover {
  /* Animation */
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}
svg {
  fill: #F0F6FC;
  /* fill: red; */
}
/* input:focus svg {
  fill: #58A6FF;
  fill: blue;
} */
.input-message {
  font-size: 20px;
}
.ta-group {
  border: solid 1px #F0F6FC;
  border-radius: 3px;
  margin: 5px 0 10px 0;
}
.ta-group textarea{
  height: 300px;
  /* padding: 10px -10px 10px 10px; */
}
textarea {
  font-family: 'Roboto';
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  resize: none;
  /* overflow-y: scroll; */
}
textarea::-webkit-scrollbar {
  width: 15px;
  background-color: #F0F6FC;
}
textarea::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #58A6FF;
}
